body {
    text-align: center;
}
#video {
    width:100%;
    height:500px;
    border: none;
}
p
{
    text-align: center;
}
#schoollife {
    text-align: center;
}
.imgs {
    border-radius: 30px;
}
.SubHeadings{
    color:chartreuse;
}